@model FPT_JOBPORTAL.Models.ApplicationUser

@{
    ViewData["Title"] = "Edit Job Seeker";
}

<h1>Edit Job Seeker</h1>
<form method="post">
    <form asp-controller="Employer" asp-action="Edit" method="post">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PhoneNumber" class="control-label"></label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="StreetAddress" class="control-label"></label>
            <input asp-for="StreetAddress" class="form-control" />
            <span asp-validation-for="StreetAddress" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="submit" value="Save" class="btn btn-primary" />Change</button>
            <a asp-controller="JobSeeker" asp-action="Index" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
</form>
